{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Wydawnictwo artykułów
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <h3>Aplikacja ma sluzyc do wydawaniu i odbieraniu materialow na magazyn</h3>
        </div>
    </div>
{% endblock %}